/checkpoints/
/output_files/
/wandb/
/lightning_logs/
/__pycache__/
/environment/__pycache__/
/models/__pycache__/
/.idea/
/EDA/
/not_on_git/examples/
/rl4co_files/
/rl_algorithms/__pycache__/
/not_on_git/saved_models
/not_on_git/