absl-py
aiohttp
alabaster
ale-py
alembic
antlr4-python3-runtime
anyio
appdirs
async-timeout
attrs
AutoROM
AutoROM.accept-rom-license
Babel
black
blinker
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
chex
clarabel
click
cloudpickle
cmaes
colorama
colorlog
contourpy
coverage
cplex
cryptography
cvxpy
cvxpylayers
cycler
DataProperty
decorator
diffcp
distrax
dm-env
dm-haiku
dm-tree
docker-pycreds
docplex
docutils
dotmap
ecos
einops
etils
evosax
exceptiongroup
execnet
Farama-Notifications
filelock
flax
fonttools
fsspec
gast
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
graphviz
greenlet
grpcio
gym
gym-notices
gymnasium
gymnax
h11
huggingface-hub
huggingface-sb3
hydra-colorlog
hydra-core
idna
imagesize
importlib-metadata
importlib-resources
iniconfig
jax
jax-jumpy
jax-tqdm
jaxlib
Jinja2
jmp
joblib
jumanji
kiwisolver
lightning
lightning-utilities
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mbstrdecoder
mdurl
ml-dtypes
mpmath
msgpack
multidict
munkres
mypy
mypy-extensions
nest-asyncio
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn
nvidia-cufft
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-nccl
nvidia-nvtx
oauthlib
omegaconf
opencv-python
opt-einsum
optax
optuna
orbax-checkpoint
osqp
packaging
pandas
pathspec
pathtools
pathvalidate
patsy
Pillow
platformdirs
pluggy
pooch
protobuf
psutil
pyasn1
pyasn1-modules
pybind11
pycparser
pyenchant
pygame
Pygments
PyJWT
pynvml
pyOpenSSL
pyparsing
pyrootutils
PySocks
pytablewriter
pytest
pytest-cov
pytest-env
pytest-xdist
python-dateutil
python-dotenv
pytorch-lightning==2.4.0
pytz
pyu2f
PyYAML
qdldl
requests
requests-oauthlib
rich
rl-zoo3
rl4co @ git+https://github.com/ai4co/rl4co.git@907d07567bc06813ddbd222a13c49682ff1d1b63
robust-downloader
rsa
ruff
sb3-contrib
sbx-rl
scikit-learn
scipy
scs
seaborn
sentry-sdk
setproctitle
Shimmy
six
smmap
sniffio
snowballstemmer
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-spelling
SQLAlchemy
stable_baselines3 @ git+https://github.com/DLR-RM/stable-baselines3@6ad6fa55b6e38c8456dd333f71fe45373f66fe90
starlette
statsmodels
sympy
tabledata
tabulate
tcolorpy
tensorboard
tensorboard-data-server
tensordict
tensorflow-probability
tensorstore
threadpoolctl
tomli
toolz
torch
torchmetrics==1.4.0.post0
torchrl==0.4.0
torchviz==0.0.2
tqdm
triton
typepy
typing_extensions
tzdata
unicodedata2
urllib3
uvicorn
wandb
wasabi
watchfiles
websockets
Werkzeug
yarl
zipp